<mat-card>
    <mat-card-title>Atualizar Tarefa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="task.title" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Discrição" [(ngModel)]="task.description"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prioridade</mat-label>
            <mat-select [(ngModel)]="task.priority" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let priority of priorities" [value]="priority.value">
                    {{priority.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data de finalização</mat-label>
            <input id="teste" matInput [matDatepicker]="picker" [(ngModel)]="task.deadline" [ngModelOptions]="{standalone: true}" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox class="example-margin" [(ngModel)]="task.solved" [ngModelOptions]="{standalone: true}">Resolvido</mat-checkbox>
    </form>
    <button mat-raised-button (click)="updateTask()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>